html { 
    height: 100%; 
    text-align: right;
    direction: rtl; 
}
body { margin: 0 }

@font-face {
    font-family: 'IRANSans_FaNum_Light';
    src: url(assets/fonts/IRANSans_FaNum_Light.ttf);
}
* {
    font-family: IRANSans_FaNum_Light;
}
