<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink='/signin' (click)="onToggleClose()">
      <mat-icon>input</mat-icon>&nbsp;&nbsp;&nbsp;
      <span class="font">ورود</span>
        
    </a>
    <a mat-list-item routerLink='/signin' (click)="onToggleClose()">
      <mat-icon>account_circle</mat-icon>&nbsp;&nbsp;&nbsp;
      <span class="font">ثبت نام</span>
   
    </a>
    
    <a mat-list-item routerLink='/signin' (click)="onToggleClose()">
      <mat-icon>loyalty</mat-icon> &nbsp;&nbsp;&nbsp;
      <span class="font">پیشنهاد</span>
      
    </a>
  </mat-nav-list>