<div fxLayout="column" >
  <div fxLayout="row" fxLayoutAlign="center center">

    <app-ads-component linkTo="/home/detail" (click)="showDetail()" header="آموزش برنامه نویسی" moreInfo="وبسایت شخصی سیاوش قنبری شامل هزاران مقاله برنامه نویسی..."
      imageDirectory="./assets/siaqnbr.jpg"></app-ads-component>

    <app-ads-component linkTo="/home/detail" header="رزومیت" moreInfo="یک شبکه اجتماعی که میتونی توش کار پیدا کنی..."
    imageDirectory="assets/favicon.png"></app-ads-component>

    <app-ads-component linkTo="/home/detail" header="ویکی هنر" moreInfo="مرجع آثار هنری و معرفی هنرمندان"
    imageDirectory="./assets/art.png"></app-ads-component>

    <app-ads-component linkTo="/home/detail" header="گروه سرمایه گذاری چکانه" moreInfo="انتخاب ما اینه که به شما اعتماد کنیم"
    imageDirectory="assets/chegane.png"></app-ads-component>

  </div>
<br/>
<div fxLayout="row" fxLayoutAlign="center center">

  <app-ads-component linkTo="/home/detail" header="آموزشگاه ساز خورشید" moreInfo="موسیقی زبانیست مشترک در دنیای امروز."
  imageDirectory="assets/sun.png"></app-ads-component>

  <app-ads-component linkTo="/home/detail" header="دامین یار" moreInfo="خرید و فروش دامنه و ثبت دامنه..."
  imageDirectory="assets/domain.png"></app-ads-component>
  
</div>